body{
	background-repeat: no-repeat;
	background-size: cover;
	font-family: arial;
	color: white;
}

#text
{
	background-color: #000000;
	color: #ffffff;
}
#headerWrapper{
	background-image: url(/boutique/screenshots/Screenshot_2018-01-18-22-23-47-1.png);
	background-color: lightblue;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 600px;

	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;

}

#Logotext{
	background-image: url(/boutique/screenshots/Capture.png);
	position: absolute;
	width: 100%;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 100px;
	top: 50%;
	margin-top: -90px;

}

#for-flower{
	position: absolute;
	width: 100%;
	height: 400px;
	background-size: auto 400px;
	background-repeat: no-repeat;
	background-position: right bottom;
	top: 525px;
	right:-50px;
}
#back-flower{
	position: absolute;
	width: 100%;
	height: 350px;
	background-image: url();
	background-size: auto 350px;
	background-repeat: no-repeat;
	background-position: left bottom;
	top: 400px;
	right:-25px;

}
.img-thumb
{
	width: auto;
	height: 200px;
}

#footer
{
	margin-top: 50px;
	color: black;
}

li
{
  list-style-type: none;
  margin-top: 2px;
  margin-right: 2px;
  text-align: center;
  float: left;
  height: 50px;
width: 150px;

}

ul>li:hover> ul
{
	display: block;
}


li a
{
	text-decoration: none;
	background: lightgreen;
	display: block;
	color: black;
	height: 50px;
	width: 150px;
	line-height: 40px;
	transition: .5s;

}

ul.Items,
ul.Sub-Items
{
   position: relative;
   display: none;
}

ul.Items
{
	right: 40px;
}
ul.Sub-Items
{
	left: 111px;
	bottom: 50px;
}
ul>li:hover> a
{
	background: grey;
}

#navbar > li
{
	margin-right: 1px;
}

ul.Items li
{
	border-top: 4px;
}

ul.Sub-Items
{
	border-left:
}

